<footer class="text-center py-2">
  <div class="footer d-flex align-items-center justify-content-center flex-wrap">
    <p class="col-sm-6 mb-0 text-end px-2"><span>Contact Number:</span> 555-555-5555</p>
    <p class="col-sm-6 mb-0 text-start px-2"><span>Email:</span> Group2@email.com</p>
  </div>
</footer>