<footer class="text-center py-2">
  <div class="footer d-flex align-items-center justify-content-center">
    <p class="col-sm-12 mb-0 px-2">© 2024 RendezView. All Rights Reserved.</p>
  </div>
</footer>
