<div class="edit-event-header">
  <div>
    <h1 class="upcoming-text text-center">Edit Event</h1>
  </div>
</div>
<!-- Form for editing an event -->
<form class="form col-md-6 edit-event-form mx-md-auto m-4">
  <!-- Form field for the event name -->
  <div class="form-group mb-2">
    <label for="event-name" class="form-label">Event name: <span class="required">*</span></label>
    <input class="form-control event-input" type="text" id="event-name" name="event-name"
      placeholder="Enter the name of your event (maximum 50 characters)" required />
  </div>
  <!-- Form field for the event description with a maximum length of 250 characters -->
  <div class="form-group mb-2">
    <label for="event-description" class="form-label">Description: <span class="required">*</span></label>
    <textarea maxlength="250" class="form-control event-input" type="text" id="event-description"
      name="event-description" rows="4" placeholder="Describe the event in detail (maximum 250 characters)"
      required></textarea>
  </div>
  <!-- Form field for the event date in a datetime-local input format -->
  <div class="form-group mb-2">
    <label for="event-date" class="form-label">Date: <span class="required">*</span></label>
    <input class="form-control event-input" type="datetime-local" id="event-date" name="event-date" required />
  </div>
  <!-- Form field for selecting the event venue from a dropdown menu -->
  <div class="mb-2">
    <label for="event-venue" class="form-label">Venue: <span class="required">*</span></label>
    <input class="form-control event-input" type="text" id="event-venue" name="event-address"
      placeholder="Enter an address, venue, or location name (maximum 100 characters)" required />
  </div>
  <!-- Form submission button with data attributes for the event ID -->
  <div class="form-group mt-3">
    <button type="submit" class="btn btn-primary btn-dark edit-btn" data-id="{{event.id}}"
      id="updateEventButton">Update</button>
  </div>
</form>
<!-- JavaScript file for handling the edit event functionality -->
<script src="/js/edit-event.js"></script>