<div class="login-main row-fluid">
  <div class="col-md-3 text-center m-4">
    <!-- Login Form -->
    <div class="login-container">
      <h2 class="text-light">Login</h2>
      <form class="form login-form" id="loginForm">
        <div class="mb-3 text-start">
          <label for="email-login" class="form-label">Email:</label>
          <input class="form-control" type="email" id="email-login" placeholder="Email" required />
        </div>
        <div class="mb-3 text-start">
          <label for="password-login" class="form-label">Password:</label>
          <input class="form-control" type="password" id="password-login" placeholder="Password" required />
        </div>
        <div class="mb-3">
          <button class="btn btn-dark login-btn" type="submit">Login</button>
        </div>
        <input type="hidden" id="redirect-login" value="{{redirectUrl}}" />
        <div class="pt-3 d-flex align-items-center justify-content-center">
          <div class="spinner" id="login-spinner"></div>
        </div>
        <div class="error-message bg-dark" id="login-error-message" aria-live="assertive"></div>
      </form>
      <div class="mt-3 bg-dark border border-secondary rounded">
        <p class="my-1">Don't have an account?
          <a href="/signup" class="text-decoration-none">Sign up here</a>
        </p>
      </div>
    </div>
  </div>
</div>
<!-- JavaScript file for handling the login functionality -->
<script src="./js/login.js"></script>