<div class="login-main row-fluid">
  <div class="col-md-3 text-center m-4">
    <!-- Signup Form -->
    <div class="signup-container mt-4">
      <h2 class="text-light">Sign Up</h2>
      <form class="form signup-form" id="signupForm">
        <div class="mb-3 text-start">
          <label for="name-signup" class="form-label">Name:</label>
          <input class="form-control" type="text" id="name-signup" placeholder="Name" required />
        </div>
        <div class="mb-3 text-start">
          <label for="email-signup" class="form-label">Email:</label>
          <input class="form-control" type="text" id="email-signup" placeholder="Email" required />
        </div>
        <div class="mb-3 text-start">
          <label for="password-signup" class="form-label">Password:</label>
          <input class="form-control" type="password" id="password-signup"
            placeholder="Password (minimum 8 characters)" required />
        </div>
        <div class="mb-3">
          <button class="btn btn-dark signup-btn" type="submit">Sign Up</button>
        </div>
        <input type="hidden" id="redirect-signup" value="{{redirectUrl}}" />
        <div class="pt-3 d-flex align-items-center justify-content-center">
          <div class="spinner" id="signup-spinner"></div>
        </div>
        <div class="error-message bg-dark" id="signup-error-message"></div>
      </form>
      <div class="mt-3 bg-dark border border-secondary rounded">
        <p class="my-1">Already have an account? <a href="/login" class="text-decoration-none">Login here</a></p>
      </div>
    </div>
  </div>
</div>
<!-- JavaScript file for handling the login functionality -->
<script src="./js/signup.js"></script>